.cart-item {
  display: flex;
  align-items: center;

  .image-container {
    width: 160px;
    height: 90px;

    img {
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }
}
