<div class="list-group-item cart-item">
  <img [src]="product.image" [alt]="product.title" class="mr-2">
  <div class="mr-4">{{product.title}}</div>
  <div class="font-weight-bold ml-auto mr-4 price">${{product.price * cartItem.count}}</div>

  <div class="btn-group ml-auto" role="group" aria-label="Count">
    <button type="button" class="btn btn-secondary" (click)="minusClicked.emit(cartItem)">-</button>
    <button type="button" class="btn btn-outline-secondary" disabled>{{cartItem.count}}</button>
    <button type="button" class="btn btn-secondary" (click)="plusClicked.emit(cartItem)">+</button>
  </div>
</div>
